
*{
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
  font-family: 'Anton', sans-serif;
  font-family: 'Bungee', cursive;
  font-family: 'Fraunces', serif;
}

body{
  margin: 0 auto ;

}


@import "./fonts";
@import "./general";
@import "./mixins";
@import "./normaliz";
@import "./variables";
@import "./blocks/block";