* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
  font-family: "Bungee", cursive;
  font-family: "Fraunces", serif;
}

body {
  margin: 0 auto;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo ul {
  float: right;
}

.header-logo ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

.header-logo ul li a {
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 18px;
}
.header-logo ul li a:hover {
  color: gray;
}
.header-logo ul li a:active {
  color: rgb(183, 31, 31);
}

.header-logo ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: rgb(191, 32, 34);
  transform: scaleX(0);
  transition: transform 0.6s linear;
}

.header-logo ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

header label #btn,
header label #cancel {
  color: black;
  font-size: 20px;
  float: right;
  line-height: 80px;
}

@media screen and (max-width: 668px) {
  .header-logo ul {
    display: none;
  }
}
.card {
  width: 1280px;
  height: 600px;
  background-image: url(../img/images.png);
  background-size: cover;
  margin-top: 50px;
  border-radius: 10px;
}

.card_title {
  width: 500px;
  padding-top: 100px;
  margin: 0px 85px;
  color: #FEFCF7;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
}

.card_text {
  width: 445px;
  padding-top: 35px;
  font-weight: 400;
  margin: 0px 85px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.card_btn {
  width: 217px;
  height: 56px;
  font-size: 18px;
  margin: 0 85px;
  background: #0E8784;
  border-radius: 9px;
}

.card_btn:hover {
  color: #990b46;
  background: #74ebe9;
  cursor: pointer;
}

.card_btn:active {
  color: #0cd45c;
  background: #bd4e92;
  cursor: pointer;
}

@media screen and (max-width: 668px) {
  .card {
    margin: 0 auto;
    width: auto;
    height: 500px;
    background-image: url(../img/mobile-img.jpg);
    background-size: cover;
  }
  .card_title {
    width: 297px;
    margin: 0% auto;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
  }
  .card_text {
    width: 297px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    margin: 0% auto;
    opacity: 0.8;
  }
  .card_btn {
    width: 190px;
    height: 46px;
    margin-top: 55px;
    text-align: center;
  }
}
.container {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  padding-right: 80px;
  padding-left: 80px;
}

@media screen and (max-width: 668px) {
  .container {
    padding: 0 10px;
    max-width: 668px;
  }
}
.main-card_title {
  width: 100%;
  font-size: 140px;
  color: #83888F;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-top: 110px;
  line-height: 1;
  position: relative;
  opacity: 1;
  margin-top: 50px;
}

.main-card_title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
}

.main-card_img {
  text-align: center;
  position: absolute;
}/*# sourceMappingURL=main.css.map */