

.container{
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  padding-right: 80px;
  padding-left: 80px;
 
}



@media screen and (max-width :668px) {
  .container{
   
    padding: 0 10px;
 max-width: 668px;

  }
  
}

